<div class="generic nineforty">
  <h1>Editing <%= @world.level_name %></h1>
</div>
<div class="generic nineforty">
  <%= form_for @world do |form| %>
    <% World.configgables.each do |config| %>
      <p>
        <% if(World.columns_hash[config.to_s].type == :boolean) %>
          <%= form.check_box config %>
          <%= form.label config %>
        <% else %>
          <%= form.label config %>
          <%= form.text_field config %>
        <% end %>
      </p>
    <% end %>
    <%= form.submit %>
  <% end %>
</div>
