<div class="generic nineforty">
  <h1>MCPPANTS &mdash; Helping minecraft one leg at a time.</h1>
</div>
<div class="generic nineforty">
  <h2>Welcome</h2>
  <%= image_tag "pickaxe.png", :class => "twoeighty right-float" %>
  <p>Welcome to the mcp_pants minecraft server. This is the web presence of the server; from it you may see maps of the world, read chat messages, teleport your self to other players, and take other actions. The actual minecraft server for playing is available at this same address. Enjoy! -<em>Evan</em></p>
</div>
<div class="generic twotwenty">
  <h2>Who's online</h2>
  <ul>
    <% Player.all.each do |player| %>
      <li><%= link_to(player.name, player_path(player)) %></li>
    <% end %>
  </ul>
  <h2>Current Time</h2>
  <p><%= World.current.human_time %> (6:00-18:00 is daylight)</p>
</div>
<div class="generic sevenhun end loglike">
  <h2>Recent logs</h2>
  <% LogEvent.all(:limit => 15, :order => "created_at desc").each do |log_event| %>
    <p>
      <%= log_event.message %>
    </p>
  <% end %>
  <p><%= link_to "More logs", log_events_path %>
</div>
